/*******************************************************************************
user-action influenced states
*******************************************************************************/

:root {
    --focus-outline-c: var(--c-amaranth);
    --focus-outline-w: 0.25rem;

    --selection-txt-c: var(--c-white);
    --selection-bg-c: var(--c-amaranth);

    --disabled-o: 0.5;
}

/* links */

a { text-decoration: underline; }

a:visited { color: var(--c-violet); }

a:hover { color: var(--c-purple); }

a:active { color: var(--c-amaranth); }

/* text selection */

:focus {
    outline-color: var(--focus-outline-c);
    outline-style: auto;
    outline-width: var(--focus-outline-w);
}

::-moz-focus-inner { border: 0; }

::selection {
    background-color: var(--selection-bg-c);
    color: var(--selection-txt-c);
}
