/*******************************************************************************
base typographic rules
*******************************************************************************/

:root {
    --s-code-safeSpace: 0.125rem;
}

:--headers {
    margin: 0;
    padding: 0;
    line-height: 1;
}

:--textblocks:not(:last-child) {
    margin-top: 0;
    margin-bottom: var(--s-leading);
}

h1,
h2 {
    border-bottom: 0.125rem solid var(--c-charcoal);
}

h1 { font-size: 200%; }

h2 { font-size: 150%; }

h3 { font-size: 125%; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

p,
pre {
    margin: 0;
}

ul,
ol {
    margin-left: var(--s-leading);
    padding: 0;
}

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small,
sub,
sup {
    font-size: 75%;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    border-left: 1pt solid var(--c-silver);
    padding-left: var(--s-leading);
    font-style: italic;
}

blockquote cite::before {
    content: "\2014";
    display: inline-block;
    margin-right: 0.25rem;
}
