/*******************************************************************************
a simple reset
*******************************************************************************/

*,
*::before,
*::after {
    vertical-align: baseline;
    box-sizing: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/* reset HTML5BP links stuff */
abbr[title]::after,
a[href]::after {
    content: "";
}

/*******************************************************************************
root
*******************************************************************************/

html {
    box-sizing: border-box;
    min-height: 100%;
    color: black;
    font-family: "Source Sans Pro", "Roboto", "PT Sans", "Droid Sans", "Fira Sans", "Work Sans", "Open Sans", "Noto Sans", "Hind", "Dosis", "Cabin", "Verdana", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 10pt;
    line-height: 15pt;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
}

/*******************************************************************************
base typographic rules
*******************************************************************************/

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre; {
    margin-bottom: 15pt;
    margin-bottom: 15pt;
}

h1 { font-size: 200%; }

h2 { font-size: 150%; }

h3 { font-size: 125%; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

ul,
ol {
    padding-left: 15pt;
}

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small,
sub,
sup {
    font-size: 75%;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
}

sup { top: -5pt; }

sub { bottom: -2.5pt; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    padding-left: 15pt;
    border-left: 1pt solid silver;
    font-style: italic;
}

blockquote cite::before {
    content: "\2014";
    display: inline-block;
    margin-right: 2.5pt;
}

a {
    text-decoration: underline;
}
